<mat-menu #menu="matMenu" class="bg-[#fff159]">
  <div class="p-4">
    <div class="flex">
      <fa-icon [icon]="faUserCircle" class="p-4 text-[30px]"></fa-icon>
      <div class="w-full">
        <!-- <p class="font-bold">Ingresa a tu cuenta</p>
        <p><small>Podrás ver detalles de envío y personalizar tu experiencia.</small></p> -->
        <p class="text-sm">Hola Juan</p>
        <p class="font-bold">Nivel 1 - Mercado Puntos</p>
      </div>
    </div>
    <!-- <button routerLink="/auth-login" class="bg-[#3483fa] text-white p-2 rounded-md w-full text-sm">Ingresar</button> -->
  </div>
  <div class="bg-white">
    <button mat-menu-item routerLink="/home" routerLinkActive="active"><fa-icon [icon]="faHome" class="pr-2"></fa-icon>Inicio</button>
    <button mat-menu-item><fa-icon [icon]="faMagnifyingGlass" class="pr-2"></fa-icon>Buscar</button>
    <button mat-menu-item><fa-icon [icon]="faShoppingBag" class="pr-2"></fa-icon>Mis compras</button>
    <button mat-menu-item><fa-icon [icon]="faTag" class="pr-2"></fa-icon>Ofertas</button>
    <button mat-menu-item><fa-icon [icon]="faClock" class="pr-2"></fa-icon>Historial</button>
    <button mat-menu-item><fa-icon [icon]="faUserCircle" class="pr-2"></fa-icon>Mi cuenta</button>
    <button mat-menu-item><fa-icon [icon]="faHeadset" class="pr-2"></fa-icon>Ayuda</button>
    <button mat-menu-item><fa-icon [icon]="faBasketShopping" class="pr-2"></fa-icon>Supermercado</button>
    <button mat-menu-item><fa-icon [icon]="faShirt" class="pr-2"></fa-icon>Moda</button>
    <button mat-menu-item><fa-icon [icon]="faStar" class="pr-2"></fa-icon>Más vendidos</button>
    <button mat-menu-item><fa-icon [icon]="faStore" class="pr-2"></fa-icon>Tiendas oficiales</button>
    <button mat-menu-item><fa-icon [icon]="faList" class="pr-2"></fa-icon>Categorías</button>
    <button mat-menu-item><fa-icon [icon]="faFileLines" class="pr-2"></fa-icon>Resumen</button>
    <button mat-menu-item><fa-icon [icon]="faTag" class="pr-2"></fa-icon>Vender</button>
    <button mat-menu-item><fa-icon [icon]="faRectangleAd" class="pr-2"></fa-icon>Publicaciones</button>
    <button mat-menu-item><fa-icon [icon]="faStore" class="pr-2"></fa-icon>Mercado Shops</button>
    <button mat-menu-item class="font-bold"><fa-icon [icon]="faSignOutAlt" class="pr-2"></fa-icon>Salir</button>
    <p class="p-4">Acerca de Mercado Libre</p>
  </div>
</mat-menu>

<div class="w-full pt-4 bg-[#fff159] flex flex-col items-center">
  <div class="max-w-[598px] w-full flex flex-col items-center">
    <div class="flex w-full p-2">
      <fa-icon [icon]="faBars" class="p-2 cursor-pointer" mat-button [matMenuTriggerFor]="menu"></fa-icon>
      <div class="bg-white px-2 rounded-2xl w-full flex items-center">
        <fa-icon [icon]="faSearch" class="p-2 text-gray-300"></fa-icon>
        <input type="search" class="w-full outline-none">
      </div>
      <p class="text-center text-sm">{{ getLength() }}
        <fa-icon *ngIf="getLength() >= 1" [icon]="faCartShopping" class="p-2 cursor-pointer" routerLink="/cart/orders"></fa-icon>
        <fa-icon *ngIf="getLength() < 1" [icon]="faCartShopping" class="p-2 cursor-pointer" [routerLink]="['/cart/empty-cart']"></fa-icon>
      </p>

    </div>
    <div class="w-full flex justify-center pt-2">
      <p routerLink="home" class="text-sm p-2 min-w-full cursor-pointer"><fa-icon class="pr-4 pl-2" [icon]="faLocationDot"></fa-icon>Enviar a Juan Perez - Alberti 3956</p>
    </div>
  </div>
</div>
