<div class="flex justify-center">
  <div class="carousel-container overflow-hidden">
    <div class="carousel-track flex transition-transform" #carouselTrack>
      <div class="carousel-slide flex justify-center border border-transparent rounded-md cursor-pointer">
        <img class="w-[1500px] min-w-[345px] rounded-lg" src="./../../../assets/images/home/sliders/carousel-1.png" alt="Imagen 1">
      </div>
      <div class="carousel-slide flex justify-center border border-transparent rounded-md cursor-pointer">
        <img class="w-[1500px] min-w-[345px] rounded-lg" src="./../../../assets/images/home/sliders/carousel-2.png" alt="Imagen 2">
      </div>
      <div class="carousel-slide flex justify-center border border-transparent rounded-md cursor-pointer">
        <img class="w-[1500px] min-w-[345px] rounded-lg" src="./../../../assets/images/home/sliders/carousel-3.png" alt="Imagen 3" />
      </div>
      <div class="carousel-slide flex justify-center border border-transparent rounded-md cursor-pointer">
        <img class="w-[1500px] min-w-[345px] rounded-lg" src="./../../../assets/images/home/sliders/carousel-4.png" alt="Imagen 4" />
      </div>
    </div>
  </div>
</div>
