
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mercadolibreclon-primary: mat.define-palette(mat.$indigo-palette);
$mercadolibreclon-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$mercadolibreclon-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$mercadolibreclon-theme: mat.define-light-theme((
  color: (
    primary: $mercadolibreclon-primary,
    accent: $mercadolibreclon-accent,
    warn: $mercadolibreclon-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($mercadolibreclon-theme);


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../node_modules/normalize-scss/sass/normalize";
@include normalize();

/* Comentado porque no funciona
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima Nova';
    src: url('/mercadolibreclon/src/assets/fonts/proximanova-light.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: url('/mercadolibreclon/src/assets/fonts/proximanova-regular.woff2') format('woff2');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: url('/mercadolibreclon/src/assets/fonts/proximanova-semibold.woff2') format('woff2');
    font-weight: 500;
  }
*/

  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova Light"), local("Proxima-Nova-light"),
     url('./assets/fonts/proximanova-light.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"),
     url('./assets/fonts/proximanova-regular.woff2') format('woff2');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova SemiBold"), local("Proxima-Nova-SemiBold"),
     url('./assets/fonts/proximanova-semibold.woff2') format('woff2');
    font-weight: 500;
  }

  body {
    font-family: 'Proxima Nova',Arial,sans-serif;
  }

  :root{
    --header: #fff15a;
    --header-variant: #FFF9BD;
    --header-variant1: #FFF693;
    --header-variant2: #FFF693;
    --header-variant3: #FFF583;
    --header-variant4: #FFF372;
    --header-variant5: #fff159;
    --header-variant6: #E6D950;
    --header-variant7: #CCC147;
    --header-variant8: #BFB543;
    --header-variant9: #BFB543;
    --promo: #00a650;
    --card-seemore: #1259c3;
    --blueMeli: #3483FA;
    --loginMeli: #FDDC13;
    --error: #f04449;
  }












html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
