
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import "../node_modules/normalize-scss/sass/normalize";
@include normalize();

/* Comentado porque no funciona
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova Light"), local("Proxima-Nova-light"),
     url('./assets/fonts/proximanova-light.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"),
     url('./assets/fonts/proximanova-regular.woff2') format('woff2');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova SemiBold"), local("Proxima-Nova-SemiBold"),
     url('./assets/fonts/proximanova-semibold.woff2') format('woff2');
    font-weight: 500;
  }
*/

  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova Light"), local("Proxima-Nova-light"),
     url('./assets/fonts/proximanova-light.woff2') format('woff2');
    font-weight: normal;
  }
  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"),
     url('./assets/fonts/proximanova-regular.woff2') format('woff2');
    font-weight: 100;
  }
  @font-face {
    font-family: 'Proxima-Nova';
    src: local("Proxima Nova SemiBold"), local("Proxima-Nova-SemiBold"),
     url('./assets/fonts/proximanova-semibold.woff2') format('woff2');
    font-weight: 500;
  }

<<<<<<< HEAD
  body, h1, p {
    font-family: 'Proxima-Nova',-apple-system,Roboto,Arial,sans-serif;
=======
  body {
    font-family: 'Proxima Nova',Arial,sans-serif;
>>>>>>> fb8b9857b32235d4e97072cd763b50691cc2551e
  }

  :root{
    --header: #fff15a;
    --header-variant: #FFF9BD;
    --header-variant1: #FFF693;
    --header-variant2: #FFF693;
    --header-variant3: #FFF583;
    --header-variant4: #FFF372;
    --header-variant5: #fff159;
    --header-variant6: #E6D950;
    --header-variant7: #CCC147;
    --header-variant8: #BFB543;
    --header-variant9: #BFB543;
    --promo: #00a650;
    --card-seemore: #1259c3;
    --blueMeli: #3483FA;
    --loginMeli: #FDDC13;
    --error: #f04449;
  }











