<article class="flex flex-col items-center h-[2033px] min-h-screen">
        <div class="w-96 h-80 px-5 py-2.5 flex-col justify-start items-center gap-2.5 inline-flex">
             <div class="self-stretch justify-between items-start gap-2.5 inline-flex">
                 <div class="text-black text-xs font-normal leading-normal">Nuevo | +500 vendidos</div>
                 <div class="text-[var(--blueMeli)] text-xs font-normal leading-normal">★★★★★  (83)</div>
             </div>
             <div class="pr-36 justify-start items-center inline-flex">
                 <div class="text-black text-sm font-semibold leading-normal">Moto E22 64g 4gb Ram Azul</div>
             </div>
             <img class="w-[150px]" src="../../../assets/images/home/motorola.png"/>
             <div class="w-80 h-16 px-3 py-5 bg-neutral-100 justify-between items-center gap-2.5 inline-flex">
                 <div class="flex-col justify-start items-start gap-px inline-flex">
                     <div class="text-black text-sm font-normal leading-3">Color: </div>
                     <div class="self-stretch text-black text-sm font-semibold leading-none">Azul</div>
                 </div>
                 <div class="w-4 h-4 relative">
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Arrow"><path id="Vector" d="M5.90446 12.5L5 11.79L9.19108 8.5L5 5.21L5.90446 4.5L11 8.5L5.90446 12.5Z" fill="#3483FA"/></g></svg>
                 </div>
             </div>
             <div class="w-80 h-30 p-2.5 pb-5 flex-col justify-start items-start gap-5 inline-flex">
                 <div class="flex-col justify-start items-start gap-0.5 flex">
                     <div class="text-black text-2xl font-normal leading-normal">$83.999</div>
                     <div class="text-black text-base font-normal leading-3">en 12x $ 11.637</div>
                 </div>
                 <div><span class="text-[var(--promo)] text-base font-normal leading-3">Llega gratis </span><span class="text-black text-base font-normal leading-3">el martes</span></div>
                 <div class="text-black text-base font-semibold leading-3">Stock disponible</div>
             </div>
             <div class="w-80 h-28 p-3 pb-5 bg-neutral-100 justify-between items-center gap-2.5 inline-flex">
                <div class="h-6 justify-start items-center gap-3 flex">
                    <div class="text-black text-sm font-normal leading-3">Cantidad: 1</div>
                    <div class="text-neutral-500 text-sm font-normal leading-3">(2 disponibles)</div>
                </div>
                <div class="w-4 h-4 relative">
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="Arrow"><path id="Vector" d="M5.90446 12.5L5 11.79L9.19108 8.5L5 5.21L5.90446 4.5L11 8.5L5.90446 12.5Z" fill="#3483FA"/></g></svg>
                </div>
            </div>

            <div class="w-80 h-11 p-4 mb-12 mt-2 bg-blue-500 rounded justify-center items-center gap-2.5 inline-flex">
                <div class="text-center text-white text-base font-semibold leading-3 tracking-tight">Comprar ahora</div>
            </div>
            <div class="w-80 text-black text-lg font-normal leading-none tracking-tight">Lo que tenés que saber de este producto </div>
            <div class="w-80 text-black text-base font-normal leading-none tracking-tight">Dispositivo liberado para que elijas la compañía telefónica que prefieras<br/>Pantalla de 6.5” <br/>Memoria interna de 64 </div>
            <div class="w-80 text-black text-lg font-semibold leading-none tracking-tight">Imágenes del producto</div>
            <img class="w-[150px]" src="../../../assets/images/home/motorola.png"/>
            <img class="w-[150px]" src="../../../assets/images/home/motorola.png"/>
            <img class="w-[150px]" src="../../../assets/images/home/motorola.png"/>
            <div class="w-80 h-10 pb-6 justify-end items-center inline-flex">
                <div class="w-80 text-black text-lg font-normal leading-none tracking-tight">Descripción</div>
            </div>
            <div class="w-80 h-28 pb-7 justify-center items-center inline-flex">
                <div class="w-80 text-black text-base font-normal leading-none tracking-tight">Mayor rendimiento<br/>Su memoria RAM de 4 GB permite que su smartphone funcione de manera fluida y sin demoras al realizar distintas tareas, jugar o navegar</div>
            </div>
            <div class="w-80 text-black text-lg font-normal leading-none tracking-tight">Quienes vieron este producto también compraron</div>
            <div class="w-96 h-52 justify-start items-center gap-2 inline-flex">
                <div class="w-28 h-48 px-1.5 py-4 bg-white rounded-sm border border-neutral-200 flex-col justify-start items-center gap-1 inline-flex">
                    <img class="w-7 h-20" src="../../../assets/images/serum.png" />
                    <div class="self-stretch h-11 flex-col justify-start items-start gap-1.5 flex">
                        <div class="self-stretch text-neutral-500 text-[10px] font-normal">Serum renovador anti arrugas y antioxidante La Roche-Pos...</div>
                        <div class="flex-col justify-start items-start gap-0.5 flex">
                            <div class="text-black text-[10px] font-normal leading-3">$15.220</div>
                            <div class="w-16 text-[var(--promo)] text-[10px] font-semibold tracking-tight">Envío Gratis</div>
                        </div>
                    </div>
                </div>
                <div class="w-28 h-48 px-1.5 py-4 bg-white rounded-sm border border-neutral-200 flex-col justify-start items-center gap-1 inline-flex">
                    <img class="w-7 h-20" src="../../../assets/images/serum.png" />
                    <div class="self-stretch h-11 flex-col justify-start items-start gap-1.5 flex">
                        <div class="self-stretch text-neutral-500 text-[10px] font-normal">Serum renovador anti arrugas y antioxidante La Roche-Pos...</div>
                        <div class="flex-col justify-start items-start gap-0.5 flex">
                            <div class="text-black text-[10px] font-normal leading-3">$15.220</div>
                            <div class="w-16 text-[var(--promo)] text-[10px] font-semibold tracking-tight">Envío Gratis</div>
                        </div>
                    </div>
                </div>
                <div class="w-28 h-48 px-1.5 py-4 bg-white rounded-sm border border-neutral-200 flex-col justify-start items-center gap-1 inline-flex">
                    <img class="w-7 h-20" src="../../../assets/images/serum.png" />
                    <div class="self-stretch h-11 flex-col justify-start items-start gap-1.5 flex">
                        <div class="self-stretch text-neutral-500 text-[10px] font-normal">Serum renovador anti arrugas y antioxidante La Roche-Pos...</div>
                        <div class="flex-col justify-start items-start gap-0.5 flex">
                            <div class="text-black text-[10px] font-normal leading-3">$15.220</div>
                            <div class="w-16 text-[var(--promo)] text-[10px] font-semibold tracking-tight">Envío Gratis</div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
 </article>
